.event_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.event_description {
  color: var(--color-white);
}

.event_title {
  font-size: 5rem;
}

.event_logo{
  object-fit: contain;
  height: 100%;
  width: auto;
}

.header_container {
  margin-top: 5rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  width: var(--max-width);
  height: 30vh;

  gap: 1rem;
}

.event_listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  scroll-behavior: smooth;

  max-height: 50vh;
  max-width: var(--max-width);
  height: fit-content;

  padding: 2rem;
}

@media (max-width: 1920px) {
  .event_listing {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (max-width: 768px) {
  .event_listing {
    grid-template-columns: repeat(1, 1fr);
  }

  .event_logo {
    visibility: hidden;
  }
}


.filters_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  align-items: flex-start;

  width: var(--max-width);
}

.filter_style {
  padding: 0.5rem;
  font-size: 1rem;
  border: 0.1rem solid var(--color-light-gray);
  border-radius: var(--border-radius-2);
  transition: var(--transition);

  width: 30%;
}
