* {
  margin: 0;
  padding: 0;
}

body{
  margin: 5rem;
  background-color: var(--color-beige);
}

:root {
  /*GENERAL CONTAINER VARIABLES*/
  --container-width-lg: 76%; /*for desktop*/
  --container-width-md: 90%; /*for phones and tablets*/

  /*BORDER RADIUS VARIABLES */
  --border-radius-1: 1rem;
  --border-radius-2: 0.5rem;

  /*GENERAL TRANSITION VARIABLE*/
  --transition: all 500ms ease;

  /*MARGINS*/
  --max-width: 75%;

  /*BASE COLORS*/
  --color-beige: #f9f4ea;
  --color-black: #000000;
  --color-light-gray: #d3d3d3;
  --color-dark-gray:  #3b3a3b;
  --color-white: white;

  /*COLOR PALETTE*/
  --color-yellow: #fbf8cc;
  --color-orange: #fde4cf;
  --color-pink: #f1c0e8;
  --color-purple:#cfbaf0;
  --color-blue: #a3c4f3;
  --color-turq: #98f5e1;
  --color-green: #b9fbc0;
}

@font-face {
  font-family: 'Satoshi-Black';
  src: url('./fonts/Satoshi/Satoshi-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('./fonts/Satoshi/Satoshi-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('./fonts/Satoshi/Satoshi-MediumItalic.otf') format('opentype');
}

h1 {
  font-family: "Satoshi-Black";
  font-size: 4rem;
}

h2 {
  font-family: "Satoshi-Black";
  font-size: 2rem;
}

h3 {
  font-family: "Satoshi-Medium";
  font-size: 1.25rem;
}

h4 {
  font-family: "Satoshi-MediumItalic";
  font-size: 1rem;
}

label, input, p {
  font-family: "Satoshi-Medium";
}

a{
  font-family: "Satoshi-Medium";

  text-decoration: underline; 
  color: var(--color-black);
}

a:hover {
  color: var(--color-dark-gray);
}

button {
  background-color: var(--color-dark-gray);
  border: none;

  padding: 1rem;
  border-radius: var(--border-radius-2);

  font-family: "Satoshi-Medium";
  color: var(--color-white);

  transition: var(--transition);
}

button:hover{
  transform: translateY(-0.5rem);
  background-color: var(--color-black);
}